<html>
<head>
    <link href="{{ asset('templates/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="{{ asset('templates/css/fontawesome-all.min.css') }}" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!-- For Clients slider -->
    <link rel="stylesheet" href="{{ asset('templates/css/flexslider.css') }}" type="text/css" media="all" />
    <!--flexs slider-->
    <link href="{{ asset('templates/css/JiSlider.css" rel="stylesheet') }}">
    <!--Shoping cart-->
    <link rel="stylesheet" href="{{ asset('templates/css/shop.css" type="text/css') }}" />
    <!--//Shoping cart-->
    <!--stylesheets-->
    <link href="{{ asset('templates/css/style.css') }}" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>
<body>
<div class="header-outs" id="home">
<div class="container-fluid">
    <div class="hedder-up row">
        <div align="center">
            <h1 ALIGN="center" style="color: white">FORUM DE DISCUSSION</h1>
        </div>

    </div>
</div>
</div>
<div style="float: right">
    <a href="{{ path('plants_logout') }}"> <img src="{{ asset('templates/images/logout.png') }}" height="20px" width="20px">Se déconnecter</a>
</div>


<h2>THEMES</h2>
<p>Bonjour {{ app.session.get('login')}}</p>
{% if not themes %}
    <p align="center">Aucun theme de discussion pour l'instant</p>

{% endif %}

    <dl>
        {% for sujet in themes %}

            <dd><a href="{{ path('communaute_affich_comment',{'idtheme':sujet.id}) }}">{{ sujet.nom }}</a></dd>

        {% endfor %}
    </dl>

    <form method="post">
        <input type="text" id="nom" name="nom">

        <button id="ajout" type="submit" name="ajout">Ajouter</button>

    </form>
</body>

</html>